// Specific CSS for your home-page
.card-info{
  background-color: rgb(240, 240, 240);
}

.card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.top-header{
  background-color: rgb(240, 240, 240);
  align-items: center;
}

.top-header a, .top-header p {
  margin: 4px;
}
